[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/zhengjiong (zhengjiong)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/zhengjiong (zhengjiong)
	label-Verified = -1..+1 group user/zhengjiong (zhengjiong)
	push = group user/zhengjiong (zhengjiong)
	read = group user/zhengjiong (zhengjiong)
	rebase = group user/zhengjiong (zhengjiong)
	removeReviewer = group user/zhengjiong (zhengjiong)
	submit = group user/zhengjiong (zhengjiong)
[access "refs/heads/*"]
	read = group user/zhengjiong (zhengjiong)
	push = deny group user/zhengjiong (zhengjiong)
[access "refs/tags/*"]
	push = group user/zhengjiong (zhengjiong)
	push = +force group user/zhengjiong (zhengjiong)
